#banner {
    background: url(../../assets/mountain_background.jpg);
    color: white
}

#one {
    margin: auto;
}

#two {
    margin: auto;
}

#three {
    margin: auto;
}

#word {
    color: rgb(177, 169, 169);
    font-family: 'Cantarell', sans-serif;
    font-size: medium;
}

