/* style sheet for my jobs accordions */
html, body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}

#accordionHeader {
    background-color: rgb(36, 117, 126);
    color: white;
}

#companyName {
    font-size: 24px;
    font-weight: 500;
}

#jobTitle {
    font-size: 20px;
    font-weight: 500;
}

/* On screens that are 600px wide or less
adjust font size, keep accordions same width, prevent side scroll*/
@media screen and (max-width: 600px) {
    body {
      font-size: 16px;
      max-width: 100%;
      overflow-x: hidden;
     }
    #companyName {
        font-size: medium;
    }
    #jobTitle {
        font-size: medium;
    }
}