/* style sheet for my jobs accordions */
html, body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}

#accordionHeader {
    background-color: rgb(76, 127, 139);
    /* background-color: rgba(43, 26, 71, 0.2); */
    /* font-family: 'Cantarell', sans-serif; */
    /* color: rgb(82, 82, 82); */
    /* background-color: rgb(0, 95, 119); */
    /* color: white; */
    color: rgb(241, 241, 241);
    /* height: 75px; */
    /* font-size: 32px; */
}

#companyName {
    font-size: 24px;
    font-weight: 500;
}

#jobTitle {
    font-size: 20px;
    font-weight: 500;
}

/* On screens that are 600px wide or less
adjust font size, keep accordions same width, prevent side scroll*/
@media screen and (max-width: 600px) {
    body {
      font-size: 16px;
      max-width: 100%;
      overflow-x: hidden;
     }
    #companyName {
        font-size: medium;
    }
    #jobTitle {
        font-size: medium;
    }
}