#banner {
    background: url(../../assets/mountain_background.jpg);
    color: white;
}

/* .intro {
    background-color: black;
    opacity: 0.2;
} */

.banner {
    font-family: 'Cantarell', sans-serif;
    font-size: x-large;
}

.bannerIntro {
    font-family: 'Cantarell', sans-serif;
    font-size: x-large;
    text-decoration: underline;
}