#topBar {
    background: url(../assets/background.jpg);
    height: 80px;
}

#sidebar {
    background: url(../assets/background.jpg);
    color: white;
    height: 100%;
}

.accountCircle {
    position: absolute;
    right: 20px;
}

#notifications {
    margin-right: 35px;
}